
<!-- Add Country Page to allow user to enter Country code, country name and country Details -->
<html>
<body>
    <h1>Add Country</h1>

    <!-- form to give user a better overall experience -->
    <form action="/addCountry" method="POST">
        <label>Country Code </label>
        <input type="text" name="co_code">
        </br>
        <label>Country Name</label>
        <input type="text" name="co_name">
        </br>
        <label>Country Details</label>
        <input type="textArea" name="co_details">
        </br>
        <input type="submit" value="Add Country">
    </form>

    <!-- Link to bring user back to home page -->
    <a href="http://localhost:3000/">Home</a>
</body>

</html>