<html>

<body>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        </style> 

    <table>
        <tr>
            <th>Id</th>
            <th>headOfState</th>
        </tr>
        <tr>
            <td>THis is add</td>
            <td>State</td>
        </tr>
    </table>
</body>
</html>