
<!-- Page for user to add in head of state _id & head Of State -->
<html>
<body>
    <!-- table to display -->
    <style>
        table, th,  td {
            border: 1px solid black;
            border-collapse: collapse;   }
        </style> 

    <table>
        <tr>
            <th>Id</th>
            <th>headOfState</th>
        </tr>
        <tr>
            <td>THis is add</td>
            <td>State</td>
        </tr>
    </table>
</body>
</html>