<html>

<body>
     <!--Make a border for the tables-->
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        </style>
    <h2>
        Heads of State
    </h2>
    <a href="http://localhost:3000/addheadOfState"><button type="button">Add Head Of State</button></a> 
    <br>
    <br>
      <!--Create a table to display the data-->
    <table>
        <tr>
            <th>_id</th>
            <th>headOfState</th>
              <!--access the data by calling headofstate from index.js and displaying its info-->
        </tr><% headOfState.forEach((headOfState)=>{%><tr>
            <td><%= headOfState._id %></td>
            <td><%= headOfState.headOfState %></td>
        </tr>
        <%})%>
    </table>
    <br>
    <br>
    <a href="http://localhost:3000/"><button type="button">Home</button></a> 
      
</body>


</html>