<html>

<body>
  
    </style>
    <!--home page with links to countries, cities and heads of state-->
    <a href="http://localhost:3000/listCountries">List Countries </a>
    <br>
    <a href="http://localhost:3000/listCities">List Cities</a>
    <br>
    <a href="http://localhost:3000/newHeadOfState">new Heads of State Page</a>
    <table>

</body>

</html>